---
interface Props {
    name: string;
    day: string;
    routine: string;
    sets: number;
    reps: string;
    rest: string;
    muscles_worked: string[];
    description: string;
    tips?: string[];
    grip?: string[];
    image?: string;
    video?: string;
}

const { name, day, routine, sets, reps, rest, muscles_worked, description, tips, grip, image, video } = Astro.props;
---
    <h1 class="text-3xl font-bold mb-2 text-rosa-custom-900">{name}</h1>
    <p class="text-rosa-custom-700 mb-6">
        Este ejercicio forma parte de la rutina de {day} ({routine}).
    </p>

    <!-- Sección: Detalles del Ejercicio -->
    <div class="bg-white text-rosa-custom-900 border border-rosa-custom-200 rounded-lg flex flex-col h-full hover:bg-rosa-custom-50 hover:border-rosa-custom-300 cursor-pointer p-4 mb-4 shadow-md hover:shadow-lg transition-all duration-300">
        <h2 class="text-2xl font-semibold mb-2 text-rosa-custom-800">Detalles del Ejercicio</h2>
        <p>
            <strong>Sets:</strong> {sets}<br />
            <strong>Reps:</strong> {reps}<br />
            <strong>Rest:</strong> {rest}<br />
            <strong>Muscles Worked:</strong> {muscles_worked.join(', ')}
        </p>
    </div>

    <!-- Sección: Descripción -->
    <div class="bg-white text-rosa-custom-900 border border-rosa-custom-200 rounded-lg flex flex-col h-full hover:bg-rosa-custom-50 hover:border-rosa-custom-300 cursor-pointer p-4 mb-4 shadow-md hover:shadow-lg transition-all duration-300">
        <h2 class="text-2xl font-semibold mb-2 text-rosa-custom-800">Descripción</h2>
        <p>{description}</p>
    </div>

    <!-- Sección: Tips -->
    {tips && tips.length > 0 && (
        <div class="bg-white text-rosa-custom-900 border border-rosa-custom-200 rounded-lg flex flex-col h-full hover:bg-rosa-custom-50 hover:border-rosa-custom-300 cursor-pointer p-4 mb-4 shadow-md hover:shadow-lg transition-all duration-300">
            <h2 class="text-2xl font-semibold mb-2 text-rosa-custom-800">Tips</h2>
            <ul class="list-disc pl-5">
                {tips.map((tip) => (
                    <li>{tip}</li>
                ))}
            </ul>
        </div>
    )}

    <!-- Sección: Grip -->
    {grip && grip.length > 0 && (
        <div class="bg-white text-rosa-custom-900 border border-rosa-custom-200 rounded-lg flex flex-col h-full hover:bg-rosa-custom-50 hover:border-rosa-custom-300 cursor-pointer p-4 mb-4 shadow-md hover:shadow-lg transition-all duration-300">
            <h2 class="text-2xl font-semibold mb-2 text-rosa-custom-800">Ejecución</h2>
            <ul class="list-disc pl-5">
                {grip.map((g) => (
                    <li>{g}</li>
                ))}
            </ul>
        </div>
    )}

    <!-- Sección: Imagen -->
    {image && (
        <div class="bg-white border border-rosa-custom-200 rounded-lg flex flex-col h-full hover:border-rosa-custom-300 cursor-pointer mb-4 shadow-md hover:shadow-lg transition-all duration-300">
            <img src={image} alt={name} class="w-full rounded-lg" />
        </div>
    )}

    <!-- Seccion: video -->
    {video && (
        <div class="bg-white border border-rosa-custom-200 rounded-lg flex flex-col h-full hover:border-rosa-custom-300 cursor-pointer mb-4 shadow-md hover:shadow-lg transition-all duration-300">
            <video controls class="w-full rounded-lg">
                <source src={video} type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </div>
    )}

    <!-- Botón para regresar al día -->
    <div class="mt-6">
        <a href={`/rutina/${day.toLowerCase()}`} class="bg-rosa-custom-500 hover:bg-rosa-custom-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:shadow-lg transition-all duration-300">
            Regresar a {day}
        </a>
    </div>